{{> header}}
{{> navbar}}

<main class="buy bg-dark">
<div class="container-fluid">
    <form action="/buy" method="POST">

    <div class="container text-left text-light pt-5">
        {{!-- <h3>fill this detail</h3> --}}
            <h4>date:</h4>
        <div class="col-md-3">
            <input type="date" name="showDate" class="form-control"> 
        </div>
        <input type="hidden" name="movie_id" value={{id}}>
        <h4 class="pt-2">show-time:</h4>
        <input type="radio" class="btn-check" name="time" id="option1" value="08:00" autocomplete="off">
        <label class="btn btn-outline-primary me-5" for="option1">08:00</label>

        <input type="radio" class="btn-check" name="time" id="option2" value="11:00" autocomplete="off">
        <label class="btn btn-outline-primary me-5" for="option2">11:00</label>

        <input type="radio" class="btn-check" name="time" id="option3" value="13:00" autocomplete="off">
        <label class="btn btn-outline-primary me-5" for="option3">13:00</label>

        <input type="radio" class="btn-check" name="time" id="option4" value="15:00" autocomplete="off">
        <label class="btn btn-outline-primary me-5" for="option4">15:00</label>
        {{!-- venue --}}
    
        <h4 class="mt-5">venue:</h4>
        <select class="form-select" name="venue" aria-label="Default select example">
            <option selected>select venue</option>
            <option value="Theatre 1">Theater 1</option>
            <option value="Theatre 2">Theater 2</option>
            <option value="Theatre 3">Theater 3</option>
        </select>
        <div class="form-outline mt-5">
            <h4>Ticket amount</h4>
            <input name="amount" type="number" id="form12" class="form-control" />
            
        </div>
    
    </div>
    <div class="text-center">
        <button class="btn btn-warning mt-4 signup " type="submit">buy ticket</button>
    </div>
    </form>
</div>
</main>

{{> footer}}